* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #d8c6e8;
}

.header {
    background: white;
    text-align: center;
    padding: 25px 0;
    border: 4px solid #d8c6e8;
}

.header h1 {
    color: purple;
    font-size: 32px;
}

.header p {
    color: purple;
    margin-top: 8px;
}

/* Menu */
.menu {
    background-color: #4b007d;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.content {
    background: white;
    padding: 20px;
    flex: 3;
}

.content h2 {
    font-size: 26px;
}

.date {
    margin: 10px 0 20px;
}

.sidebar {
    background: white;
    padding: 20px;
    flex: 1;
}

.sidebar h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.source {
    margin-top: 15px;
}

.image-box {
    background-color: #e5b9e8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.image-box.small {
    height: 120px;
}
